* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 outline: 0px solid orangered;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    font-family: Overpass, sans-serif;
    background-color: #000000;
    padding: 1.5rem;
}

.Card {
    min-height: 400px;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    padding: 1.5rem;
    border-radius: 1rem;
    background: linear-gradient(to bottom,#232A34,#181E27)
}

.rating-buttons {
    display: flex;
    gap: 1rem;
    justify-content: center; 
    align-items: center;
}

.rating-buttons button {
    border: none;
    box-shadow: none;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    color: white;
    background-color: hsl(213, 19%, 18%);
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.rating-buttons button:hover {
    background-color: hsl(25, 97%, 53%);
}

.rating-buttons button:active {
    background-color: hsl(25, 95%, 53%);
    scale: 0.95;
}

.submit-btn {
    border: none;
    box-shadow: none;
    width: 100%;
    padding: .5rem;
    align-self: center;
    border-radius: 2rem;
    color: hsl(216, 12%, 8%);
    font-size: 1rem;
    font-family: "Overpass", sans-serif;
    font-style: bold;
    font-weight: 700;
    background-color: hsl(25, 95%, 53%);
    cursor: pointer;
}

.submit-btn:active {
    background-color: hsl(25, 97%, 53%);
    scale: 0.95;
}


img {
    max-width: 100%;
    display: block;
}

.star-icon {
    width: 2.5rem;
}

.thank-you-image {
    width: 40%;
    align-self: center;
}

.youselected {
    color: hsl(25, 97%, 53%);
    background-color: hsl(213, 19%, 18%);
    border-radius: 1rem;
}

h1{
    color: white;
    font-size: 1.5rem;
    font-family: Overpass bold, sans-serif;
}

p {
    color: hsl(217, 12%, 63%);
    font-size: 1rem;
    font-family: Overpass regular, sans-serif;
}